.subscribeButton {
  height: 4rem;
  border-radius: 4rem;
  padding: 1.25rem 4rem;
  border: 0;

  background: var(--yellow);
  color: #121214;

  font-family: "Roboto", sans-serif;
  font-size:1.25rem;
  font-weight: bold;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

}